/*
Name: Krystal Thibault
Assignment: Restaurant Website 2
Date Created: 02.15.20
Most recent revision: 02.17.20
Copyright 2020 Krystal Thibault. All rights reserved.
Feedback welcome!
*/

/* Color Palette
#30090d Dark Dark Dark Red
#8b2635 Red
#961313 Red Red Red
#e0e2db Light gray
#b7b7b5 Medium gray
*/


body {
  background-color: #E0E2DB;
  font-family: 'Quicksand', sans-serif;
  color: #30090D;
  text-align: center;
  max-width: auto;
  margin: 0 auto;
}

header, footer {
  background-color: #961313;
  color: #e0e2db;
  height: 175px;
  text-align: center;
  padding: 60px 10px 20px 10px;
}

footer {
  margin-top: 30px;
}

nav a {
    background-color: #961313;
    color: #e0e2db;
    padding: 8px;
    text-decoration: none;
    display: block;
    margin: 20px;
    width: 150px;
    float: left;
}

nav a:visited {
    color: #b7b7b5;
    text-decoration: none;
}

nav a:hover {
  background-color: #961313;
  color: #e0e2db;
  font-weight: bold;
  text-decoration: none;
}

nav a:active {
    font-weight: normal;
    color: #30090d;
    text-decoration: none;
}

.clear-float {
    clear:both;
}
