/*
Name: Krystal Thibault
Date Created: 02.12.20
Most recent revision:
*/

/* External Style Sheet */


  body {
    background-color: lightblue;
  }
  header, footer {
    background-color: darkgreen;
    color: white;
  }
  .border {
    border: thick solid blue;
  }
  #experience {
    border: thick dashed orange;
  }
